/* Body font and background */
body {
  font-family: Arial, sans-serif;
}

/* Header styles: logo and menu */
header {
  padding: 15px 30px;
}

/*CSS animation*/
.nature-text {
  font-size: 50px;
  animation-name: colorchange;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
}

@keyframes colorchange {
  0% {
    color: #228B22;
  }

  20% {
    color: #00BFFF;
  }

  40% {
    color: #FFD700;
  }

  60% {
    color: #FF69B4;
  }

  80% {
    color: #A0522D;
  }

  100% {
    color: #228B22;
  }
}




.main-title {
  text-align: center;
  margin-top: 30px;
  background-color: #FAF9F6;
}

.sub-title {
  font-size: 20px;
  color: #666;
  margin-top: 5px;
}

/* Footer section */
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #555;
}